/* ---------------------共通--------------------- */
body {
  font-family: "メイリオ", sans-serif;
  padding: 10px;
  background-color: #F5F5F5;
}

nav.imponent {
  padding: 1em 0;
  font-size: 20px;
  box-shadow: 1px 1px 11px rgba(0,0,0,0.9);
  background-color: #002767;
}

.imponent .logo {
  position: relative;
  height: 3em;
  font-size: 30px;
  transition: all 0.3s;
  top: 5px;
  color: white;
}
.logo:hover{
  transition: all 0.3s;
  color: #318FE0;
}

.contents{
  margin-top: 4em;
}

.checkbox_mg {
  display: block;
  margin: 1.5em 0em 1em 0em;
}
.title_logo{
  position: relative;
  bottom: 4px;
  width: 70px;
}

/* --------------------index-------------------- */
.add_account_button
{
  font-size: 1.5em;
}
.Description{
  text-align: center;
  width: 23%;
}
.desimg_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.desimg {
  position: relative;
  width:auto;
  height:auto;
  max-width:500px;
  max-height:500px;
}
.card_form{
  position: relative;
  top: 2.6em;
  height: 25.2em;
  margin: 0px 10px;
}
.add_form_header3 {
  margin: 13px 0px;
}
/* --------------------login---------------------- */
.login_card {
  position: relative;
  top: 2.6em;
  height: 23em;
}
/* --------------------profile-------------------- */
.information {
  font-size: 2.5vw;        /*vw = view height*/
}
.profile_img {
  display: block;
  border-radius: 50%;    /* Make it a circle */
  margin: 0 auto;        /* Center horizontally */
  width: 60%;            /* 60% width */
}
.contents_profile{
  margin-top: 7em;
}
/* --------------------edit---------------------- */
.miniprofile {
  position: relative;
  border-radius: 50%;    /* Make it a circle */
  margin: 0 auto;        /* Center horizontally */
  width: 60%;            /* 60% width */
  padding-bottom: 60%;   /* 60% height */
  bottom: 5px;
}
.information_edit {
  font-size: 1.25em;
}
.add_profile_btn{
  font-size: 1.5em;
  margin: 0 auto;
}
.upload_pic_card{
  height: 445px;
}
.upload_pic_section{
}
/* --------------------privacy_policy-------------------- */
.policy_card{
  margin: 10px 100px;
}
/* --------------------Setting--------------------------- */
.setting_menu{
}
/* --------------------Font Awesome---------------------- */
input[type=submit]{
  font-family: FontAwesome;
}
.fa-navicon
{
  color: white;
}